
{% extends 'accounts/base.html' %} {% load static %} {% block content %}
    <title >Lesson Pre-Test</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div>
        <h1 id="pretest_heading">Pre-Test for Lesson</h1>
        <form id="pretest-form">
            {% csrf_token %}
            <div id="pretest-container"></div>
            <button type="submit">Submit</button>
        </form>

        <script>
            $(document).ready(function() {
                var values = "";
                var baseUrl = "{% static '' %}";
                var lessonNumber = window.location.pathname.split('/')[2].replace('lesson', '');
                var jsonUrl = baseUrl + "pretest" + lessonNumber + "Data.json";
                var solvingValues = [];

                // Update title
                $('title').text('Lesson ' + lessonNumber + ' Pre-Test');
                
                // Update h1 heading
                $('#pretest_heading').text('Pre-Test for Lesson ' + lessonNumber);                    

                $.ajax({
                    url: jsonUrl,
                    method: "GET",
                    dataType: "json",
                    success: function(data) {
                        data.forEach(function(question, index) {
                            solvingValues.push(question.solving); // Store 'solving' value in the array
                            var questionHtml = '<div class="question">' +
                                '<p>' + (index + 1) + '. ' + question.question + '</p>';
                            if (question.image_url) {
                                // If the image URL contains Django template syntax, replace it with the actual URL
                                if (question.image_url.includes("{% static ")) {
                                    question.image_url = question.image_url.replace("{% static '", baseUrl);
                                    question.image_url = question.image_url.replace("' %}", "");
                                }
                                // Append the image to the HTML
                                questionHtml += '<img src="' + question.image_url + '" alt="Question Image">';
                            }
                            question.options.forEach(function(option, optionIndex) {
                                questionHtml += '<div class="option">' +
                                    '<input type="radio" name="question_' + index + '" value="' + optionIndex + '">' +
                                    '<label>' + option + '</label>' +
                                    '</div>';
                            });
                            questionHtml += '</div>';
                            $('#pretest-container').append(questionHtml);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Failed to load pretest data:", error);
                    }
                });
            
                // Allow clicking on the label to select the corresponding radio button
                $(document).on('click', '.option label', function() {
                    $(this).prev('input[type="radio"]').prop('checked', true);
                });
            
                $('#pretest-form').submit(function(event) {
                    event.preventDefault();
                    // Check if all questions have been answered
                    var unansweredQuestions = $('.question').filter(function() {
                        return $(this).find('input[type="radio"]:checked').length === 0;
                    });
                    if (unansweredQuestions.length > 0) {
                        // Notify the user about the unanswered questions
                        alert('Please answer all questions before submitting.');
                    } else {
                        // Proceed with form submission
                        var formData = $(this).serializeArray();
                        values = formData.map(function(item) {
                            return item.value;
                        });
                        console.log(lessonNumber)
                        console.log(solvingValues)
                        console.log(values)

                        $.ajax({
                        url: "{% url 'learncontent:check_answers' %}",
                        method: "POST",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        data: {
                            'answers': values,  
                            'lesson_number': lessonNumber,
                            'problem_solving':solvingValues
                        },
                        dataType: "json",
                        success: function(response) {
                            // Handle the response from the server
                            console.log(response);
                            // Display a message to the user based on the response
                            alert('You have succesfully submitted your answer');
                            window.location.href = "{% url 'dashboard:dashboard' %}";
                        },
                        error: function(xhr, status, error) {
                            console.error("Failed to check answers:", error);
                            // Display an error message to the user
                            alert('Failed to check answers. Please try again later.');
                        }
                        });
                    }
                });
            });
            
        </script>
    </div>
{% endblock %}
