# Django
*.pyc
*.sqlite3
*.pyo
*.pyc
*.pyo
*.pyc
/pycache/*


# Ignore the virtual environment
env/
learncontent/static/l1_q18.png
learncontent/static/l1_q19.jpg
learncontent/static/l2_q17.png
learncontent/static/l4_q14.png
learncontent/static/l4_q15.png
learncontent/static/l4_q16.png
learncontent/static/l4_q17.png
learncontent/static/l4_q18.jpg
learncontent/static/p1_easy.json
learncontent/static/p1_hard.json
learncontent/static/p1_medium.json
learncontent/static/p2_easy.json
learncontent/static/p2_hard.json
learncontent/static/p2_medium.json
learncontent/static/p3_easy.json
learncontent/static/p3_hard.json
learncontent/static/p3_medium.json
learncontent/static/p4_easy.json
learncontent/static/p4_hard.json
learncontent/static/p4_medium.json
learncontent/static/pretest1Data.json
learncontent/static/pretest2Data.json
learncontent/static/pretest3Data.json
learncontent/static/pretest4Data.json
learncontent/static/p1_hard_q12.png
learncontent/static/p1_hard_q13.png
learncontent/static/p1_hard_q15.png
learncontent/static/p1_hard_q16.png
learncontent/static/p1_hard_q17.png
learncontent/static/p1_hard_q19.png
learncontent/static/p1_hard_q20.png
learncontent/static/p1_medium_q17.png
learncontent/static/p2_easy_q12.png
learncontent/static/p2_easy_q13.png
learncontent/static/p2_easy_q14.png
learncontent/static/p2_easy_q19.png
learncontent/static/p2_easy_q20.png
learncontent/static/p2_hard_q11.png
learncontent/static/p2_hard_q12.png
learncontent/static/p2_hard_q13.png
learncontent/static/p2_hard_q14.png
learncontent/static/p2_hard_q15.png
learncontent/static/p2_hard_q16.png
learncontent/static/p2_hard_q20.png
learncontent/static/p2_medium_q14.png
learncontent/static/p2_medium_q15.png
learncontent/static/p2_medium_q17.png
learncontent/static/p2_medium_q19.png
learncontent/static/p2_medium_q20.png
learncontent/static/p4_hard_13.png
accounts/migrations/0021_pretestscore_pre_correct_items1_and_more.py
accounts/migrations/0022_rename_pre_correct_items1_pretestscore_items1_and_more.py
accounts/migrations/0023_pretestanswers.py
accounts/migrations/0024_pretestscore_answers_delete_pretestanswers.py
accounts/migrations/0025_rename_posttestscore_posttest_and_more.py
accounts/migrations/0026_remove_pretest_answers_pretest_l1_answers_and_more.py
accounts/migrations/0027_userprofile_cluster.py
