# Django
*.pyc
*.sqlite3
*.pyo
*.pyc
*.pyo
*.pyc
/pycache/*


# Ignore the virtual environment
env/

accounts/migrations/0021_pretestscore_pre_correct_items1_and_more.py
accounts/migrations/0022_rename_pre_correct_items1_pretestscore_items1_and_more.py
accounts/migrations/0023_pretestanswers.py
accounts/migrations/0024_pretestscore_answers_delete_pretestanswers.py
accounts/migrations/0025_rename_posttestscore_posttest_and_more.py
accounts/migrations/0026_remove_pretest_answers_pretest_l1_answers_and_more.py
accounts/migrations/0027_userprofile_cluster.py
accounts/migrations/0028_alter_userprofile_learning_style.py
accounts/migrations/0029_difficulty_delete_posttest.py
accounts/migrations/0030_remove_userprofile_cluster.py
accounts/migrations/0031_posttest.py
