
{% extends 'accounts/base.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
</head>
<div class="container mt-5">
  <h1>My Progress</h1>
  <br />
  <div class="row">
      <div class="col-md-8">
          <div class="card mb-4">
              <div class="card-header">
                  Lesson 1
              </div>
              <div class="card-body">
                  <ul class="list-group mt-2">
                      <li class="list-group-item">
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                              <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=1 %}">Pre-Test</a></label>
                          </div>
                      </li>
                      <li class="list-group-item">
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                              <label class="form-check-label">
                                <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Practice Questions</a>
                              </label>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
                Lesson 2
            </div>
            <div class="card-body">
                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=2 %}">Pre-Test</a></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label">
                                <a href="{% url 'learncontent:practice_questions' lesson_number=2 %}">Practice Questions</a>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
                Lesson 3
            </div>
            <div class="card-body">
                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=3 %}">Pre-Test</a></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label">
                                <a href="{% url 'learncontent:practice_questions' lesson_number=3 %}">Practice Questions</a>
                              </label>
                        </div>
                    </li>
                </ul>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
                Lesson 4
            </div>
            <div class="card-body">
                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=4 %}">Pre-Test</a></label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                            <label class="form-check-label">
                                <a href="{% url 'learncontent:practice_questions' lesson_number=4 %}">Practice Questions</a>
                              </label>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-body">
                  <h5 class="card-title mb-4">Recent Activity</h5>
                  <ul class="list-group">
                      <li class="list-group-item">Completed Module 1 - Introduction</li>
                      <li class="list-group-item">Submitted Assignment 1</li>
                      <!-- Add more list items for recent activity -->
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

