
{% extends 'accounts/base.html' %}
{% block content %}
<head>
  <title>Dashboard</title>
</head>
<style>

    .card {
        background-color: #333;
        color: #fff;
        border-color: #333;
        font-size: 20px;
    }

    .progress {
        height: 30px;
        overflow: hidden;
        background-color: #444;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .progress-bar {
        transition: width 0.6s ease;
        font-size: 16px;
        line-height: 30px;
    }

    .progress-text {
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    .list-group-item {
        background-color: #444;
        border-color: #444;
        font-size: 18px;
    }

    .list-group-item a {
        color: #fff;
    }

    .list-group-item a:hover {
        color: #17a2b8;
    }
</style>
<div class="container-fluid">
    <h1>Welcome, {{ user.first_name }}</h1>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="progress mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <div class="progress-text">Total Lesson Progress</div>
        </div>
        <div class="col-md-6">
            <div class="progress mb-2">
                <div class="progress-bar bg-info" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
            <div class="progress-text">Total Pre-Test Progress</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Lesson 1 Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Lesson 1
                </div>
                <div class="card-body">
                    <!-- Lesson 1 Content -->
                    <ul class="list-group mt-2">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=1 %}">Pre-Test</a></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Practice Questions</a>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Post-Test</a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Add more lesson cards here with similar structure -->
        </div>
        <div class="col-md-6">
            <!-- Lesson 2 Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Lesson 2
                </div>
                <div class="card-body">
                    <!-- Lesson 2 Content -->
                    <ul class="list-group mt-2">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions2" />
                                <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=2 %}">Pre-Test</a></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions2" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=2 %}">Practice Questions</a>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Post-Test</a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Lesson 3 Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Lesson 3
                </div>
                <div class="card-body">
                    <!-- Lesson 3 Content -->
                    <ul class="list-group mt-2">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions3" />
                                <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=3 %}">Pre-Test</a></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions3" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=3 %}">Practice Questions</a>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Post-Test</a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Lesson 4 Card -->
            <div class="card mb-4">
                <div class="card-header">
                    Lesson 4
                </div>
                <div class="card-body">
                    <!-- Lesson 4 Content -->
                    <ul class="list-group mt-2">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions4" />
                                <label class="form-check-label"><a href="{% url 'learncontent:pretest' lesson_number=4 %}">Pre-Test</a></label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions4" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=4 %}">Practice Questions</a>
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="practiceQuestions1" />
                                <label class="form-check-label">
                                    <a href="{% url 'learncontent:practice_questions' lesson_number=1 %}">Post-Test</a>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

